<ion-view>
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-ios-compose"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <img src="images/log.png" style="height: 44px;">
    </ion-nav-title>
    <ion-content class="padding" id="ct_01">
        <h4 class="title"><a>SERVICEOFFERS</a>服务报价</h4>
        <div class="list">
            <label class="item" id="ct_a">
                <img src="images/7999.jpg">
                <h2>Title: <i>1对1特惠系列</i></h2>
                <p>7999￥</p><button ui-sref="orders">在线预定</button>
            </label>
            <h3>Details  套餐详情</h3>
            <label class="item" id="ct_b">
                <h5>拍摄服务内容</h5>
                <p>首席摄影师，造型师，灯光师1对2专属服务</p>
                <p>提供新娘新郎精致整体形象设计各 4 组</p>
                <p>提供新娘新郎精致服装各 4 套</p>
                <p>拍摄不低于 90 张完全媲美精修片的精品底片</p>
                <p>独特精致精修片 40 张</p>
            </label>
            <label class="item" id="ct_b">
                <h5>产品内容</h5>
                <p>15寸精美一体成型水晶相册1本（10P ,不多于20张精修片入册）</p>
                <p>12寸精美一体成型皮面相册1本（10P ,不多于20张精修片入册）</p>
                <p>20寸精品水晶一副</p>
                <p>30寸精致油画框一副</p>
            </label>
            <label class="item" id="ct_b">
                <h5>增值服务内容</h5>
                <p>免费赠送拍摄当天一次性化妆工具一套</p>
                <p>赠送产品品质终身保修卡</p>
                <p>增《结婚护照》（有效期60年）</p>
            </label>
            <!--<button class="button button-full button-positive" ng-click="createContact(newUser)">新建</button>-->
        </div>
    </ion-content>
    <ion-footer-bar class="bar-calm" id="footers">
        <img src="images/log2.png">
        <button class="button button-icon ion-chevron-up" ng-click="top()" id="fot_btn"></button>
    </ion-footer-bar>
</ion-view>