<ion-view title="页面六">
    <ion-header-bar class="bar-subheader">
        <div class="row">
            <div class="col col-20">
                <a  ui-sref="home" title="home">首页</a>
            </div>
            <div class="col col-20">
                <a  ui-sref="contact" title="contact">联系我们</a>
            </div>
            <div class="col col-20">
                <a  ui-sref="orders" title="orders">在线订单</a>
            </div>
            <div class="col col-20">
                <a  ui-sref="sekvice" title="sekvice">服务报价</a>
            </div>
            <div class="col col-20">
                <a  ui-sref="showcase" title="showcase">SHOWCASE</a>
            </div>
        </div>
    </ion-header-bar>
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-images"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <img src="images/log.png" style="height: 44px;">
    </ion-nav-title>
    <ion-tabs class="tabs-calm tabs-icon-top has-subheader" id="tab">
        <!--<ion-tabs class="tabs-assertive tabs-icon-left">-->
        <!--<ion-tabs class="tabs-assertive tabs-icon-only tabs-striped tabs-top">-->
        <!--tabs-striped显示的下滑线，tabs-top选显卡图标位于页面的位置-->
        <ion-tab title="THEME" icon-on="icon ion-tshirt" icon-off="icon ion-tshirt-outline">
            <ion-view>
                <ion-content id="cont">
                    <h3>SHOWCASE<i>主题摄影</i></h3>
                    <div class="row" id="all">
                        <div class="col col-50">
                            <img src="images/zpT_01.jpg">
                        </div>
                        <div class="col col-50">
                            <img src="images/zpT_02.jpg">
                        </div>
                    </div>
                    <div class="row" id="all">
                        <div class="col col-50">
                            <img src="images/zpT_03.jpg">
                        </div>
                        <div class="col col-50">
                            <img src="images/zpT_04.jpg">
                        </div>
                    </div>
                    <div class="row" id="all">
                        <div class="col col-50">
                            <img src="images/zpT_05.jpg">
                        </div>
                        <div class="col col-50">
                            <img src="images/zpT_06.jpg">
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>

        <ion-tab title="INTERIOR" icon-on="icon ion-ios-lightbulb" icon-off="icon ion-ios-lightbulb-outline">
            <ion-view>
                <ion-content id="cont">
                    <h3>SHOWCASE<i>内景摄影</i></h3>
                    <div class="row" id="all">
                        <div class="col col-50">
                            <img src="images/zpL_01.jpg">
                        </div>
                        <div class="col col-50">
                            <img src="images/zpL_02.jpg">
                        </div>
                    </div>
                    <div class="row" id="all">
                        <div class="col col-50">
                            <img src="images/zpL_03.jpg">
                        </div>
                        <div class="col col-50">
                            <img src="images/zpL_04.jpg">
                        </div>
                    </div>
                    <div class="row" id="all">
                        <div class="col col-50">
                            <img src="images/zpL_05.jpg">
                        </div>
                        <div class="col col-50">
                            <img src="images/zpL_06.jpg">
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>

        <ion-tab title="LOCATION" icon-on="icon ion-ios-rose" icon-off="icon ion-ios-rose-outline">
            <ion-view>
                <ion-content id="cont">
                    <h3>SHOWCASE<i>外景摄影</i></h3>
                    <div class="row" id="all">
                        <div class="col col-50">
                            <img src="images/zpY_01.jpg">
                        </div>
                        <div class="col col-50">
                            <img src="images/zpY_02.jpg">
                        </div>
                    </div>
                    <div class="row" id="all">
                        <div class="col col-50">
                            <img src="images/zpY_03.jpg">
                        </div>
                        <div class="col col-50">
                            <img src="images/zpY_04.jpg">
                        </div>
                    </div>
                    <div class="row" id="all">
                        <div class="col col-50">
                            <img src="images/zpY_05.jpg">
                        </div>
                        <div class="col col-50">
                            <img src="images/zpY_06.jpg">
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>

        <ion-tab title="PERSONAL" icon-on="icon ion-ios-flower" icon-off="icon ion-ios-flower-outline">
            <ion-view>
                <ion-content id="cont">
                    <h3>SHOWCASE<i>个人摄影</i></h3>
                    <div class="row" id="all">
                        <div class="col col-50">
                            <img src="images/gr_07.jpg">
                        </div>
                        <div class="col col-50">
                            <img src="images/gr_08.jpg">
                        </div>
                    </div>
                    <div class="row" id="all">
                        <div class="col col-50">
                            <img src="images/gr_03.jpg">
                        </div>
                        <div class="col col-50">
                            <img src="images/gr_04.jpg">
                        </div>
                    </div>
                    <div class="row" id="all">
                        <div class="col col-50">
                            <img src="images/gr_05.jpg">
                        </div>
                        <div class="col col-50">
                            <img src="images/gr_06.jpg">
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
    <!--<h3>SHOWCASE<i>作品展示</i></h3>-->
    <!--<ion-footer-bar class="bar-calm" id="footers">-->
        <!--<img src="images/log2.png">-->
        <!--<button class="button button-icon ion-chevron-up" ng-click="top()" id="fot_btn"></button>-->
    <!--</ion-footer-bar>-->
</ion-view>